#map {
	height: 95vh;
	cursor: pointer;
	width: 100%;
}

body {
  margin: 0;
}

#frm-geocode {
    position: absolute;
    top: 10px;
    left: 40px;
    background: white;
    padding: 5px;
    float: left;
    border: 2px solid #aaa;
    -webkit-border-radius: 4px;
            border-radius: 4px;
}
#frm-geocode label {
    float: left;
    clear: left;
    font: 14px/16px Arial, Helvetica, sans-serif;
}
#frm-geocode .inputs {
    float: left;
    clear: left;
    padding-top: 3px;
}
#frm-geocode input {
    float: left;
}